.tag {
    font-size: var(--font-small);
    color: var(--color-default-light);
    background-color: var(--color-main);
    border-radius: var(--border-radius);
    padding: 0.3rem 0.7rem 0.2rem 0.7rem;
    transition: background-color var(--transition);
    cursor: pointer;
}

.tag:hover {
    background-color: var(--color-main-light);
}