.publish-button-wrapper {
  position: relative;
  display: inline-block;
}

.modal-box {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 10;
  width: 50vw;
  min-width: 350px;
  max-width: 350px;
  background: var(--color-default-light);
  padding: 2rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-box-main);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.pinned-section {
  display: flex;
  align-items: center;
}

.pinned-label {
  display: flex;
  align-items: center;
  font-size: var(--font-small);
  gap: 0.5rem;
  white-space: nowrap;
}
  
.modal-section {
    margin-bottom: 1.5rem;
}
  
.modal-section label {
    display: flex;
    margin-bottom: 0.5rem;
    color: black;
}
  
.modal-section select,
.modal-section input[type="checkbox"] {
    padding: 0.5rem;
    font-size: var(--font-small);
    width: 100%;
    box-sizing: border-box;
}
  
.visibility-options {
    display: flex;
    gap: 1rem;
}
  
.visibility-options button {
    flex: 1;
    padding: 0.6rem 1.2rem;
    border: none;
    background-color: var(--color-sub-light);
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-small);
    color: black;
    transition: all 0.2s ease;
}
  
.visibility-options button.active {
    background-color: var(--color-main);
    color: var(--color-default-light);
    border-color: var(--color-main);
}
  
.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
}
  
  .modal-actions button {
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 5px;
    font-size: var(--font-small);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-actions button:first-of-type {
    background-color: white;
    color: #333;
  }

  .modal-actions button:first-of-type:hover {
    background-color: var(--color-sub-light);
  }
  
  .modal-actions button:last-of-type {
    background-color: var(--color-main);
    color: white;
  }
  
  .modal-actions button:last-of-type:hover {
    background-color: var(--color-main-light);
  }
  
  @media (max-width: 480px) {
    .modal-box {
      padding: 1.2rem;
      min-width: 300px;
      max-width: 95%;
    }
  
    .modal-box h2 {
      font-size: 1.2rem;
    }
  
    .modal-actions button {
      font-size: 0.9rem;
      padding: 0.4rem 1rem;
    }
  }