.color-empty {
    fill: #f1f4f5;
    stroke: rgb(226, 231, 233);
    stroke-width: 1px;
}

.color-scale-1 {
    fill: #cce4f0;
    stroke: #c2d9e4;
    stroke-width: 1px;
}

.color-scale-2 {
    fill: #9dcfe8;
    stroke: #95c7e0;
    stroke-width: 1px;
}

.color-scale-3 {
    fill: #1e91ca;
    stroke: #1989c2;
    stroke-width: 1px;
}