.follow-body {
    margin-top: 3.4rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.follow-title {
    margin: 3rem 0;
    font-family: 'Star';
    font-size: 2rem;
    color: green;
}