.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    gap: 0.5rem;
}

.tag {
    font-size: var(--font-small);
    color: var(--color-default-light);
    background-color: var(--color-main);
    border-radius: var(--border-radius);
    padding: 0.3rem 0.7rem 0.2rem 0.7rem;
    transition: background-color var(--transition);
    cursor: pointer;
}

.tag:hover {
    background-color: var(--color-main-light);
}
  
.tag-input {
    font-size: 1rem;
    min-width: 220px;
    max-width: 100%;
    border: none;
    outline: none;
    flex: 1;
    box-sizing: border-box;
}