.header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--color-default-light);
}

.header-bar {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1.5rem;
    background-color: var(--color-default-light);
}

.header-left,
.header-right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header-logo {
    width: 2rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
    transition: opacity var(--transition);
}

.logo:hover {
    opacity: 0.8;
}

.header-username {
    font-family: "DefaultFontBold";
    font-size: 0.9rem;
    cursor: pointer;
}

.header-username:hover {
    text-decoration: none;
}

.icon-button {
    display: flex;
    font-size: 1.8rem;
    border-radius: 50%;
    transition: background-color var(--transition);
}

.icon-button:hover {
    background-color: var(--color-sub-light);
}

.profile-wrapper {
    position: relative;
}

.header-profile-image {
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--color-box-main);
    background-color: var(--color-default-light);
}

.header-login-button {
    padding: 0.4rem 1em;
    background-color: var(--color-main);
    color: white;
    font-size: var(--font-small);
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition);
}

.header-login-button:hover {
    background-color: var(--color-main-light);
}

.nav-body {
    width: 100%;
    height: fit-content;
    background-color: var(--color-default-light);
}

.nav-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 1.5rem;
}

.nav-list li {
    width: fit-content;
    font-size: 0.9rem;
    list-style-type: none;
    cursor: pointer;
}

.tab {
    background: none;
    border: none;
    padding: 0.5rem 0.5rem;
    margin-right: 1rem;
    color: #656d76;
    font-size: 0.9rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
}

.tab:hover {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}

.tab.active {
    color: #24292f;
    font-weight: 600;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}

.header-spacer {
    height: 3rem;
}

.header-spacer.with-tabs {
    height: calc(3rem + 2.5rem);
}