.header {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    z-index: 999;
}
.header-bar {
    position: fixed;
    left: 0;
    right: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1.5rem;
    background-color: var(--color-default-light);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.header-bottom {
    position: fixed;
    left: 0;
    right: 0;
    top: 3rem;
    height: 3rem;
    padding: 0.2rem 1.5rem;
    background-color: var(--color-default-light);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.header-left,
.header-right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header-logo {
    width: 2rem;
    aspect-ratio: 1/ 1;
    object-fit: cover;
    cursor: pointer;
    transition: opacity var(--transition);
}

.logo:hover {
    opacity: 0.8;
}

.header-username {
    font-family: "DefaultFontBold";
    font-size: 0.9rem;
    cursor: pointer;
}

.header-username:hover {
    text-decoration: none;
}

.icon-button {
    display: flex;
    font-size: 1.8rem;
    border-radius: 50%;
    transition: background-color var(--transition);
}

.icon-button:hover {
    background-color: var(--color-sub-light);
}

.profile-wrapper {
    position: relative;
}

.header-profile-image {
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--color-box-main);
    background-color: var(--color-default-light);
}

.header-login-button {
    padding: 0.4rem 1em;
    background-color: var(--color-main);
    color: white;
    font-size: var(--font-small);
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition);
}

.header-login-button:hover {
    background-color: var(--color-main-light);
}