.color-empty {
    fill: #f1f4f5;
    stroke: rgb(226, 231, 233);
    stroke-width: 1px;
}

.color-scale-1 {
    fill: #96db9f;
    stroke: #8cdb97;
    stroke-width: 1px;
}

.color-scale-2 {
    fill: #2a9e64;
    stroke: #24965d;
    stroke-width: 1px;
}

.color-scale-3 {
    fill: #137042;
    stroke: #137042;
    stroke-width: 1px;
}