.post-publish-modal {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 10;
  width: 50vw;
  min-width: 350px;
  max-width: 350px;
  background: var(--color-default-light);
  margin: 0 1.5rem;
  padding: 2rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-box-main);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.post-publish-modal__section--pinned {
  display: flex;
  align-items: center;
}

.post-publish-modal__pinned-label {
  display: flex;
  font-size: var(--font-small);
  margin-right: auto;
  gap: 0.5rem;
  white-space: nowrap;
}

.post-publish-modal__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.post-publish-modal__section label {
  display: flex;
  margin-bottom: 0.5rem;
  color: black;
}

.post-publish-modal__section select,
.post-publish-modal__section input[type="checkbox"] {
  padding: 0.5rem;
  font-size: var(--font-small);
  width: 100%;
  box-sizing: border-box;
}

.category-btn {
  align-items: end;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: auto;
  padding: 5px 0;
  font-size: 0.9rem;
}

.category-add-form {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.category-add-input {
  width: 100%;
  flex:3;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid var(--color-box-main);
  border-radius: 5px;
  box-sizing: border-box;
}

.category-add-buttons {
  width: 100%;
  flex: 1;
  display: flex;
  gap: 0.4rem;
  white-space: nowrap;
}

.category-add-buttons button {
  background-color: transparent;
  border: 1px solid var(--color-box-main);
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-small);
  color: black;
  transition: all 0.2s ease;
  padding: 0 auto;
}

.post-publish-modal__visibility-options {
  display: flex;
  gap: 1rem;
}

.post-publish-modal__visibility-options button {
  flex: 1;
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: var(--color-sub-light);
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-small);
  color: black;
  transition: all 0.2s ease;
}

.post-publish-modal__visibility-options button.active {
  background-color: var(--color-main);
  color: var(--color-default-light);
  border-color: var(--color-main);
}

.post-publish-modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.post-publish-modal__actions button {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 5px;
  font-size: var(--font-small);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-publish-modal__actions button:first-of-type {
  background-color: white;
  color: #333;
}

.post-publish-modal__actions button:first-of-type:hover {
  background-color: var(--color-sub-light);
}

.post-publish-modal__actions button:last-of-type {
  background-color: var(--color-main);
  color: white;
}

.post-publish-modal__actions button:last-of-type:hover {
  background-color: var(--color-main-light);
}

@media (max-width: 480px) {
  .post-publish-modal {
    padding: 1.2rem;
    min-width: 300px;
    max-width: 95%;
  }

  .post-publish-modal h2 {
    font-size: 1.2rem;
  }

  .post-publish-modal__actions button {
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
  }
}